:root {
  --accent-color: #2196f3;
  --text-color: #757575;
  --second-text-color: #212121;
  --title-color: #212121;
  --accent-text-color: #ffffff;
  --background-color: #ffffff;
  --icon-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: auto;
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: 'roboto', sans-serif;
  color: var(--title-color);
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -----------------------------HEADER---------------------------- */

.header {
  background-color: var(--background-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
}

.navigation {
  display: flex;
}

.navigation .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
}

.first-logo {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -33.5px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-item-icon {
  margin-right: 10px;
}

.mail,
.tel {
  display: flex;
  align-items: center;
  color: #757575;
}

.contacts-item-icon {
  fill: currentColor;
}

/* ------------------------------HERO----------------------- */

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title-container {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-text-color);
  margin-bottom: 30px;
}

.hero-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  background: #2196f3;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  height: 50px;
}

/* -----------------------advantages-------------------------- */

.advantages {
  background-color: var(--background-color);
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}

.advantages-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.container-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantages-item-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-item-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ------------------------services--------------------------- */
.services {
  background-color: var(--background-color);
}

.services-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-item {
  position: relative;
}

.services-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--accent-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
}

/* ---------------------------team--------------------------- */

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.team-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-item-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
}

.team-socials-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.team-socials-item + .team-socials-item {
  margin-left: 10px;
}

.team-socials-icon {
  fill: currentColor;
}

/* ---------------------------CLIENTS-------------------------- */

.clients {
  background-color: var(--background-color);
}

.clients-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.clients-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-link-icon {
  fill: currentColor;
}

/* ----------------------------footer-------------------------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-conteiner {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.footer-address {
  margin-top: 20px;
}

.adderess-item + .adderess-item {
  margin-top: 9px;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-mail,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-socials {
  margin-left: 70px;
}

.footer-socials-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials-item + .footer-socials-item {
  margin-left: 10px;
}

.footer-socials-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:focus,
.footer-socials-link:hover {
  background-color: var(--accent-color);
}

.footer-socials-icon {
  fill: currentColor;
}

/* ----------------------MODAL------------------------ */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 500ms, visibility 500ms;
}

.modal {
  width: 530px;
  min-height: 580px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(0) scale(1);
  transition: transform 500ms;
}

.backdrop.is-hidden .modal {
  transform: skewY(30deg) scale(0.2);
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  position: absolute;
  top: 8px;
  right: 8px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/*---------------------PORTFOLIO-----------------------*/

/* ---------------------Works-------------------------- */

.works {
  background-color: var(--background-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.works-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.works-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-item-link:hover,
.works-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-item-link:hover .overlay-text,
.works-item-link:focus .overlay-text {
  transform: translateY(0);
}

.work-item-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
}

.works-item-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--title-color);
}

.works-item-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color);
}
